<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Portfolio Details - Landmark Recognition</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../assets/img/portfolio/icon.svg" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link
      href="../assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <main id="main">
      <!-- ======= Portfolio Details ======= -->
      <div id="portfolio-details" class="portfolio-details">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <h2 class="portfolio-title">Landmark Recognition</h2>

              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div>
                    <img
                      src="../assets/img/portfolio/landmark.png"
                      alt="landmark"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-4 portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Experimental</li>
                <li><strong>Project date</strong>: 05 August, 2022</li>
                <li>
                  <strong>Project URL</strong>:
                  <a
                    href="https://prakashdeveloper03-landmark-recognition-app-ewyk4h.streamlitapp.com/"
                    target="_blank"
                  >
                    https://share.streamlit.io/
                  </a>
                </li>
                <li>
                  <strong>Source URL</strong>:
                  <a
                    href="https://github.com/Prakashdeveloper03/Landmark-Recognition"
                    target="_blank"
                  >
                    https://github.com/Prakashdeveloper03/Landmark-Recognition
                  </a>
                </li>
              </ul>

              <p>
                Landmark Recognition App is used to predict landmark from user
                given image. it gives information about lankmark's full address,
                latitude & longitude and plot the predicted landmark on the map.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Portfolio Details -->
    </main>
    <!-- End #main -->

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/purecounter/purecounter.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
  </body>
</html>
